.main-tables-container {
  display: flex;
  width: 930px;
  margin: 0 auto;
}

.main-comission-table .comission-table--title {
  text-align: center;
}
.main-currency-table .currency-table--title {
  text-align: center;
}
.plans-container--slider {
  justify-content: center;
}

.product-cards--container {
  display: flex;
  /* Para que no genere un overflow utilizamos el wrap */
  flex-wrap: wrap;
  width: 930px;
  margin: 0 auto;
}
